<!doctype html>
<html>
<head>
    <title>Madlib Game</title>
</head>
<body>
    Fill in the blanks with creative words...
    <form action='/madlib'>
      <ol>
        <li>Person in Room <input type="text" name="person1"></li><br>
        <li>Adjective <input type="text" name="Adjective"></li><br>
        <li>Verb <input type="text" name="verb1"></li><br>
        <li>Body Part <input type="text" name="Body Part"></li><br>
        <li>Number <input type="text" name="Number"></li><br>
        <li>Noun <input type="text" name="Noun"></li><br>
        <li>Adverb <input type="text" name="Adverb"></li><br>
        <li>Verb <input type="text" name="Verb2"></li><br>
        <li>Pronoun Plural <input type="text" name="Pronoun"></li><br>
        <li>Other Person in Room <input type="text" name="Person2"></li><br>
      </ol><br><input type="submit">
    </form>
        
</body>
</html>